<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShortUrl</title>
</head>
<style>
    body {
        background-color: aliceblue;
    }

    header {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: rgb(128, 128, 248);
        height: 10vh;
        display: flex;
        justify-content: center;
    }

    table,
    tr,
    th,
    td {
        border: 2px solid black;
    }
    #convert {
        padding: 5px 10px;
        font-size: 20px;
        color: white;
        background-color: blue;
        border: none;
        cursor: pointer;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        height: 40vh;
        width: 50%;
        box-shadow: 0 0 8px rgb(17, 17, 17);
    }
    #input {
        width: 60%;
        height: 5vh;
        border: 2px solid black;
        border-radius: 5px;
    }
    #short{
        width: 60%;
        height: 5vh;
        font-size: 25px;
    }
    .funcBox {
        margin: 8% auto;
    }
    footer{
        background-color: black;
        width: 100%;
        height: 20vh;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    footer p{
        display: flex;
        align-items: center;
    }
    .links{
        width: 20%;
        display: flex;
        justify-content: space-evenly;
    }
</style>

<body>
    <header>
        <h1>Micro URL</h1>
    </header>
    <div class="funcBox">
        <center>
            <h1>Make your long url to short</h1>
            <form action="/shortUrl" method="post">
                <input type="url" name="fullUrl" id="input" placeholder="Paste your url" required>
                <button type="submit" id="convert">CONVERT</button>
            </form>
            <br><br><br>
            <p>Your Link is Optimized</p>
            <a href="<%= lastUrl.short %>" id="short">https://mini-url-a6hl.onrender.com/<%= lastUrl.short %></a>
        </center>
    </div>
    <footer>
        <p>© 2024 microUrl.com - Tool to shorten a long link</p>
        <div class="links">
            <a href="#">Terms of Service</a>
            <a href="#">Privacy</a>
            <a href="#">Contact</a>
        </div>
    </footer>
</body>

</html>
